.Add {
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   background-color: red;
   display: grid;
   grid-template-rows: 10% 90%;
}

.Add h1 {
   margin: 0;
   padding: 1em;
   font-size: 3em;
}

.Add a {
   text-decoration: none;
   color: yellow;
   -webkit-text-stroke: 1.5px blue;
   text-align: center;
}

.togglebtn {
   position: fixed;
   bottom: 3em;
   left: 7.25em;
   width: 8em;
   height: 3em;
   border-radius: 5px;
}

@media (min-width: 350px) {
   .togglebtn {
      left: 9.25em;
   }
}

@media (min-width: 400px) {
   .togglebtn {
      left: 12em;
   }
}


@media (min-width: 750px) {
   .togglebtn {
      bottom: 20em;
      left: 25em;
   }
}

@media (min-width: 1000px) {
   .togglebtn {
      left: 34em;
   }
}