@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

.Add {
   width: 100vw;
   height: 55vh;
   background-color: red;
}

.Add h1 {
   font-family: 'Pokemon Solid', sans-serif;
   margin: 0;
   padding: 1em;
}