@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

a {
   position: relative;
   z-index: 3;
   text-decoration: none;
   color: black;
   text-align: center;
   height: 10em;
}

.StartCharacter {
   display: grid;
   grid-template-rows: auto;
   font-family: 'Boogaloo', cursive;
   right: 2em;
   width: 100vw;
   height: 100vh;

}

.pokedex-background {
   position: absolute;
   z-index: -1;
   width: 100vw;
   height: 100vh;
}

.StartCharacter h1 {
   color: yellow;
   -webkit-text-stroke: 1.5px blue;
   font-size: 2.5em;
}

.character-select {
   display: grid;
   grid-template-rows: auto;
}

.character-select h2, h3 {
   letter-spacing: .2em;
   padding: 0 .25em;
}

.character-info {
   display: grid;
}

.player {
   width: 35vw;
   max-width: 18em;
   right: 2em;
}

.buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 3;
}

.buttons h5 {
   color: yellow;
   -webkit-text-stroke: 1px blue;
   font-size: 1.2em;
   padding: 0 .5em;
   letter-spacing: .05em;
   margin-left: 5.5em;
}

.left-arrow, .right-arrow {
   position: absolute;
   top: 10em;
   font-size: 2em;
   z-index: 1;
}

.left-arrow {
   left: 25px;
}

.right-arrow {
   right: 25px;
}

@media (min-width: 375px) {
   .Character {
      position: relative;
      top: -6em;
      z-index: 0;
   }
}

@media (min-width: 750px) {
   .StartCharacter h1 {
      font-size: 3.5em;
   }

   .character-link {
      position: absolute;
      top: -7.5em;
      left: 20em;
   }
   
   .character-link h2, h3 {
      font-size: 1.25em;
      position: relative;
      top: 1em;
      left: 1em;
   }

   .player {
      width: 45vw;
   }

   .buttons {
      position: absolute;
      top: -11em;
      left: 16.5em;
   }

   .buttons h5 {
      font-size: 2em;
      margin-left: 4em;
   }
   
   .left-arrow {
      left: 75px;
   }
   
   .right-arrow {
      right: 75px;
   }
}

@media (min-height: 1024px) {
   .character-link {
      top: -18em;
      left: 15em;
   }

   .buttons {
      top: -23em;
      left: 12em;
   }
}

@media (min-width: 1024px) {
   .character-link {
      top: -24em;
      left: 23em;
   }

   .buttons {
      top: -31em;
      left: 20em;
   }

   .left-arrow, .right-arrow {
      font-size: 3em;
   }

   .left-arrow {
      left: 100px;
   }
   
   .right-arrow {
      right: 100px;
   }
}

@media (min-width: 1200px) {
   .character-link {
      top: -15em;
      left: 27em;
   }
   
   .character-link h2, h3 {
      font-size: 2em;
      position: relative;
      top: 1em;
      left: .75em;
   }

   .player {
      width: 45vw;
   }

   .buttons {
      top: -22em;
      left: 25em;
   }

   .buttons h5 {
      font-size: 2em;
      margin-left: 4em;
   }

   .left-arrow, .right-arrow {
      font-size: 4em;
   }
   
   .left-arrow {
      left: 75px;
   }
   
   .right-arrow {
      right: 75px;
   }
}



