@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

a {
   text-decoration: none;
   color: black;
   text-align: center;
}

.Character {
   background-image: url('https://i.imgur.com/vlUrtdo.jpg');
   background-repeat: no-repeat;
   background-position-x: center;
   background-position-y: -5em;
   background-size: 700%;
   display: grid;
   grid-template-rows: auto;
   font-family: 'Boogaloo', cursive;
   right: 2em;
}

.Character h1 {
   color: yellow;
   -webkit-text-stroke: 1.5px blue;
   font-size: 2.5em;
}

.CharacterSelect {
   display: grid;
   grid-template-rows: auto;
}

.CurrentPlayer {
   width: 55vw;
   margin-right: 2em;

}

.CharacterSelect h2, h3 {
   letter-spacing: .2em;
   padding: 0 .5em;
}

.Buttons {
   display: flex;
   justify-content: center;
   align-items: center; 
}

.Buttons h5 {
   color: yellow;
   -webkit-text-stroke: 1px blue;
   font-size: 1.2em;
   padding: 0 .5em;
   letter-spacing: .05em;
   margin-left: 5.5em;
}

.left-arrow, .right-arrow {
   position: absolute;
   top: 10em;
   font-size: 2em;
}

.left-arrow {
   left: 25px;
}

.right-arrow {
   right: 25px;
}

