.Details {
   background-image: url(https://i.imgur.com/WNe7PDz.png);
   background-size: cover;
   background-position-x: -25em;
   background-position-y: -7.9em;
   background-repeat: no-repeat;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 33.3% 33.3% 33.3%;
   width: 100vw;
   height: 100vh;
}

.Details .Character {
   grid-column: 1 / 2;
   grid-row: 2 / 3;
   width: 35vw;
   margin: 8em 2.5em 0 1.6em;
}

.Details h3, h4 {
   position: relative;
   top: 23.8em;
}

.Details h3 {
   margin-top: 3em;
}

.Details h4 {
   letter-spacing: .1em;
   margin-top: 5em;
}

.Details .PlayerTraits {
   grid-column: span 1 / 2;
   grid-row: 3 / 3;
   margin-bottom: 50em;
}