@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

a {
   text-decoration: none;
   color: black;
   text-align: center;
}

.Character {
   display: grid;
   grid-template-rows: auto;
   font-family: 'Boogaloo', cursive;
}

.Character h1 {
   color: yellow;
   -webkit-text-stroke: 1.5px blue;
   font-size: 2.5em;
}


.CharacterSelect img {
   width: 75vw;
   margin: 0 2.5em;
}

.CharacterSelect h2, h3 {
   letter-spacing: .2em;
   padding: 0 .5em;
}

.Buttons {
   display: flex;
   justify-content: center;
   align-items: center; 
}

.Buttons h5 {
   color: yellow;
   -webkit-text-stroke: 1px blue;
   font-size: 1.2em;
   padding: 0 .5em;
   letter-spacing: .05em;
   margin-left: 5.5em;
}

