form {
   margin: .5em 5em 4em 5em;
}

label {
   letter-spacing: .2em;
}

input {
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (min-width: 375px) {
   form {
      margin: 4em auto;
   }
}