.NewPokemon {
   margin: 4em 5em 7em 5em;
}

.data {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
}

.add-pokemon {
   position: absolute;
   left: 9em;
   width: 30vw;
   max-width: 5em;
   border-radius: 5px;
}

@media (min-width: 350px) {
   .NewPokemon {
      margin: 4em 4.5em 7em 5em;
   }

   .data {
      height: 2em;
      margin-left: 1em;
   }

   .add-pokemon {
      left: 10.5em;
   }
}

@media (min-width: 400px) {
   .NewPokemon {
      margin-right: 3em;
      margin-left: 6.5em;
   }

   .data {
      margin-left: 2em;
   }

   .add-pokemon {
      left: 12.5em;
   }
}



@media (min-width: 750px) {
   .data {
      margin-left: 15em;
   }

   .add-pokemon {
      left: 25.5em;
   }
}

@media (min-width: 900px) {
   .data {
      margin-top: 0;
      margin-left: 23em;
   }

   .add-pokemon {
      left: 34em;
   }
}

@media (min-width: 1000px) {
   .NewPokemon {
      margin-top: 15em;
      margin-left: 0;
   }
   .data {
      font-size: 1.5em;
      width: 35vw;
      margin-left: 14.5em;
   }

   .add-pokemon {
      font-size: 1.5em;
      bottom: 22em;
      left: 19.5em;
   }
}

@media (min-width: 1200px) {
   .NewPokemon {
      margin-left: -21.5em;
   }

   .data {
      margin-left: 31em;
   }

   .add-pokemon {
      left: 22.5em;
   }
}