.Healthbar {
   border: 4px solid black;
   border-radius: 20px;
   width: 40vw;
   height: 1em;
   margin: 1.5em;
}

.InnerHealthbar {
   background-color: green;
   border-radius: 30px;
   width: 100%;
   height: 1em;
}