@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

a {
   text-decoration: none;
}

.Nav {
   display: grid;
   grid-template-rows: auto;
   width: 100vw;
   height: 75vh;
   margin-bottom: 1em;
}

.icons {
   position: relative;
   z-index: 10;
   width: 20%;
   max-width: 10em;
   margin-top: .5em;
   margin-bottom: .25em;
}

.pokedex {
   position: absolute;
   right: 1em;
   bottom: -17em;
   width: calc(20% + 12em);
}

.wobble img {
   animation: wobble 3s infinite;
   width: calc(20% + 2em);
}

label {
   font-size: 1.5em;
}

@keyframes wobble {
   0% { transform: translateX(0%); } 
   15% { transform: translateX(-1%) rotate(-5deg); } 
   30% { transform: translateX(1%) rotate(3deg); } 
   45% { transform: translateX(-1%) rotate(-3deg); } 
   60% { transform: translateX(1%) rotate(2deg); }
   75% { transform: translateX(-1%) rotate(-1deg); }
   100% { transform: translateX(0%); } 
} 

@media (min-width: 500px) {
   .Nav {
      grid-template-columns: auto;
      grid-template-rows: 50% 50% ;
   }

   .wobble {
      grid-column: 1 / 2;
      grid-row: 2 / 2;
      margin-left: 4em;
   }

   .pokedex {
      position: unset;
      grid-column: 2 / 2;
      grid-row: 2 / 2;
      margin-right: 10em;
   }

   label {
      position: relative;
      bottom: 4em;
   }

   .start {
      grid-column: 1 / 2;
      grid-row: 2 / 2;
      left: 1.15em;
   }

   .add {
      grid-column: 2 / 2;
      grid-row: 2 / 2;
      right: 0;
   }
}

@media (min-width: 750px) {
   .pokedex {
      margin-right: -6em;
   }

   .wobble {
      margin-left: 4em;
   }

   .start {
      left: 2em;
   }

   .add {
      right: 1em;
   }
}

@media (min-width: 900px) {
   .wobble {
      margin-left: 6.75em; 
   }
   
   .add {
      right: 1em;
   }
}