@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

a {
   text-decoration: none;
}

.Nav {
   display: grid;
   grid-template-rows: auto;
   width: 100vw;
   height: 75vh;
   margin-bottom: 1em;
}

.pulse {
   position: relative;
   width: 25%;
}

.pulse::before,
.pulse::after {
   content: '';
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border-radius: 50%;
}

.pulse::before {
   background: #f00;
}

.Icons {
   width: 20%;
   margin-top: .5em;
   margin-bottom: .25em;
}


.Icons .pokeball {
   width: 25%;
   margin-top: .5em;
   margin-bottom: .25em;
}

.wobble img {
   animation: wobble 3s infinite;
}

.Label {
   color: white;
}

@keyframes wobble {
   0% { transform: translateX(0%); } 
   15% { transform: translateX(-1%) rotate(-5deg); } 
   30% { transform: translateX(1%) rotate(3deg); } 
   45% { transform: translateX(-1%) rotate(-3deg); } 
   60% { transform: translateX(1%) rotate(2deg); }
   75% { transform: translateX(-1%) rotate(-1deg); }
   100% { transform: translateX(0%); } 
} 

@media (min-width: 375px) {
   .Nav {
      margin-top: 6em;
   }

 }

