@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

a {
   text-decoration: none;
}

.Nav {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   width: 100vw;
   height: 75vh;
   margin-bottom: 4em;
}

.Nav ul {
   margin-top: 3.5em;
   margin-right: 2.5em;
}

.Nav li {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
}
.wobble {
   animation: wobble 3s infinite;
}

.Icons {
   width: 25%;
   margin-top: .5em;
   margin-bottom: .25em;
}

.Labels {
   position: absolute;
   text-align: center;
   margin-top: .10em;
   margin-bottom: .50em;
}

.Icons .pokeball {
   width: 25%;
   margin-top: .5em;
   margin-bottom: .25em;
   animation: wobble 1s infinite
}

@keyframes wobble {
   0% { transform: translateX(0%); } 
   15% { transform: translateX(-1%) rotate(-5deg); } 
   30% { transform: translateX(1%) rotate(3deg); } 
   45% { transform: translateX(-1%) rotate(-3deg); } 
   60% { transform: translateX(1%) rotate(2deg); }
   75% { transform: translateX(-1%) rotate(-1deg); }
   100% { transform: translateX(0%); } 
} 

@media (min-width: 375px) {
   .Nav {
      margin-top: 6em;
   }

 }

