.PlayerTraits {
   background-color: rgba(150, 150, 150);
   width: 100vw;
   height: 8em;
   display: grid;
   grid-template-columns: 60% 40%;
   grid-template-rows: 50% 50%;
   margin-top: 3.95em;
}

.PlayerTraits h3 {
   grid-column: 2 / 2;
   grid-row: 1 / 2;
   top: -1em;
   right: -1.5em;
   font-size: .95em;
}

.PlayerTraits h4 {
   grid-column: 2 / 2;
   grid-row: 1 / 2;
   top: -1em;
   right: -2.25em;
   font-size: .95em;
}

.PlayerTraits .Attacks {
   grid-column: 1 / 2;
   grid-row: 2 / 2;
   width: 100vw;
   height: auto;
}