@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

.Ruels {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 16.65% 27.9% 31% 26% 14%;
   width: 100vw;
   height: 100vh;
   font-family: 'Pokemon Solid', sans-serif;
   background-color: red;
}

.Ruels a {
   text-decoration: none;
   color: yellow;
   -webkit-text-stroke: 2px blue;
   text-align: center;
}

.Ruels img {
   width: 75vw;
   margin: 0 auto;
}

.Ruels p {
   margin: .75em .6em .85em .6em;
   text-align: center;
}