@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.Ruels {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 16.65% 27.9% 31% 26% 14%;
   width: 100vw;
   height: 100vh;
   font-family: 'Boogaloo', cursive;
}

.Ruels a {
   text-decoration: none;
   color: yellow;
   -webkit-text-stroke: 1.5px blue;
   text-align: center;
   font-size: 1.50em;
}

.Ruels img {
   width: 75vw;
   margin: 0 auto;
}

.Ruels p {
   margin: .75em .6em .85em .6em;
   text-align: center;
}