@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

.Rules {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 15% 85%;
   width: 100vw;
   height: 100vh;
   font-family: 'Boogaloo', cursive;
   background-color: rgb(146, 146, 146)
}

.Rules a {
   text-decoration: none;
   color: yellow;
   -webkit-text-stroke: 1.5px blue;
   text-align: center;
   font-size: 1.50em;
}

.Rules img {
   width: 75vw;
   max-width: 24em;
   margin: 0 auto 4em auto;
}

.Rules p {
   position: absolute;
   top: 14.5em;
   background-color: black;
   height: 46%;
   margin: 2em .6em .85em .6em;
   padding: 1.2em .25em .8em .25em;
   text-align: center;
   color: white;
}

@media (min-width: 375px) {
   .Rules p {
      font-size: 1.10em;
      top: 13em;
      height: 48%;
   }
}

@media (min-width: 400px) {
   .Rules p {
      top: 15em;
   }
}

@media (min-width: 750px) {
   .Rules {
      grid-template-columns: 50% 50%;
   }

   .Rules a {
      grid-column: 2 / 2;
      grid-row: 1 / 2;
      position: absolute;
      right: 15.5em;
   }

   .Rules img {
      grid-column: 1 / 2;
      grid-row: 2 / 2;
      margin: unset;
      margin-bottom: 1em;
      margin-left: 1em;
      width: 15em;
   }

   .Rules p {
      grid-column: 2 / 2;
      grid-row: 2 / 2;
      font-size: 1.3em;
      top: 4em;
      right: .5em;
      width: 65vw;
   }
}

@media (min-width: 975px) {
   .Rules a {
      font-size: 2.62em;
   }

   .Rules p {
      font-size: 2.3em;
      top: 13em;
   }
}

@media (min-width: 1024px) {
   .Rules a {
      right: 9em;
   }

   .Rules img {
      margin-bottom: unset;
      margin-left: unset;
      position: relative;
      top: 14em;
      margin-left: 2em;
   }

   .Rules p {
      top: 9em;
   }
}

@media (min-width: 1200px) {
   .Rules a {
      right: 11em;
   }
   
   .Rules img {
      margin-bottom: unset;
      margin-left: unset;
      position: relative;
      top: 8em;
      margin-left: 2em;
   }

   .Rules p {
      top: 5em;
      height: 55%;
   }
}
